html,
body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

div {
	/* border: red solid 2px; */
}

.main-wrapper {
	height: 100%;
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 4fr 1fr;
}

.icon {
	height: 50px;
	width: 50px;
}

.sidebar-icon {
	height: 20px;
}

/* Forecast Footer Styles */

.forecast-wrapper {
	display: flex;
}

.forecast-card {
	flex: 1 1 0;
	text-align: center;
}

.forecast-weather {
	height: 20px;
}
